/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: white;
}
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
  /* rgb(var(--background-start-rgb)); */
  font-family: IRANSans, Vazir, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


/* ---------------------------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Content {
    @apply text-[14px] md:text-[15px] lg:text-[16px] text-[black] text-justify leading-7 md:leading-8;
  }
  .errortext {
    @apply text-[13px] md:text-[14px] lg:text-[15px] text-[#ef476f];
  }
  .Screenpadding {
    @apply box-border flex flex-col h-auto pb-4 w-full px-[10px] scrollbar-thumb-white  scrollbar-track-[#f7f4ed]    md:px-[15px] lg:px-[20px] xl:px-[40px] 2xl:max-w-[1400px] relative overflow-x-hidden mx-auto;
  }

  .Btn {
    @apply h-10 md:h-[45px] text-[#ffffff] xxl:h-[50px] flex justify-center items-center flex-row rounded-[6px]  border-blue-light bg-blue-light  md:rounded-[8px]  text-[14px] md:text-[15px] lg:text-[16px];
  }

  .Input {
    @apply Content h-10 md:h-[45px] xxl:h-[50px] border-[1px] border-[#d9d9d9] bg-[#ffffff]    px-5 rounded-[6px] md:rounded-[8px]  focus:border-blue-light focus:bg-[#ffffff]  focus:outline-none  text-[14px] sm:text-[15px] md:text-[16px];
  }

  audio::-webkit-media-controls-panel {
    background-color: #f2f2f2;
  }
  audio::-webkit-media-controls-current-time-display {
    @apply text-[#38b000] font-bold;
  }
  audio::-webkit-media-controls-time-remaining-display {
    @apply text-[#38b000] font-bold;
  }


  /* audio::-webkit-media-controls-mute-button {
    color: blueviolet;
  }
  audio::-webkit-media-controls-play-button {
    color: brown;
  }
  audio::-webkit-media-controls-timeline-container {
    background-color: chartreuse;
  }
  audio::-webkit-media-controls-current-time-display {
    background-color: cornsilk;
  }
  audio::-webkit-media-controls-timeline {
    color: greenyellow;
  } */
  .Fr_jbic {
    @apply flex  flex-row items-center justify-between;
  }
  .Flexrow_between {
    @apply flex  flex-row items-center justify-between;
  }

  .Fr_c {
    @apply flex  flex-row items-center justify-center;
  }
  .Flexrow_center {
    @apply flex  flex-row items-center justify-center;
  }

  .Fc_c {
    @apply flex flex-col  justify-center items-center;
  }
  .Flexcol_center {
    @apply flex flex-col  justify-center items-center;
  }

  .Fr_jb {
    @apply flex flex-row justify-between;
  }
  .Row_justifybetween {
    @apply flex flex-row justify-between;
  }

  .Fr_jc {
    @apply flex flex-row justify-center;
  }
  .Row_justifycenter {
    @apply flex flex-row justify-center;
  }

  .Fr_ic {
    @apply flex flex-row items-center;
  }
  .Row_itemscenter {
    @apply flex flex-row items-center;
  }

  .Fc_ic {
    @apply flex flex-col items-center;
  }
  .Col_itemcenter {
    @apply flex flex-col items-center;
  }

  .Row_itemscenter {
    @apply flex flex-row items-center;
  }

  .Fr_je {
    @apply flex flex-row justify-end;
  }

  .Fr_jeic {
    @apply flex flex-row justify-end items-center;
  }
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Bold.woff");
  font-display: block;
}

@font-face {
  font-family: IRANSans;
  src: url("../public/fonts/IRANSansWeb.woff");
  font-display: block;
}

@font-face {
  font-family: IranNastaliq;
  src: url("../public/fonts/IranNastaliq.ttf");
  font-display: block;
}
